<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJDA6BMZTBJNAFIPA"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
