<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJNPXPQNE2DQ6NW7Q"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
