<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ildss.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Ildss.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="FileIndexContainer" connectionString="metadata=res://*/FileIndex.csdl|res://*/FileIndex.ssdl|res://*/FileIndex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=FileIndex;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Ildss.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WorkingDir" serializeAs="String">
        <value>C:\TestDir</value>
      </setting>
      <setting name="StorageDir" serializeAs="String">
        <value>C:\OutputDir</value>
      </setting>
      <setting name="S3BucketName" serializeAs="String">
        <value>maxrevittildss</value>
      </setting>
      <setting name="TargetDiskUtil" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="TargetDocMaxAge" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="IndexInterval" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="BackupInterval" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="IgnoredExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.tmp</string>
            <string> .TMP </string>
            <string>.gz </string>
            <string>.ini </string>
            <string>~$ </string>
            <string>.ildss </string>
          </ArrayOfString>
        </value>
      </setting>
    </Ildss.Settings>
    <Ildss.Settings1>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </Ildss.Settings1>
  </userSettings>
</configuration>